
@{
    ViewBag.Title = "DoctorOPDHistory";
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

<div class="container-fluid">
    <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="col main mt-3">

        <hr />
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table">
                <thead>
                    <tr class="bg-primary text-white">
                        <th>Patient ID</th>
                        <th>Date</th>
                        <th>Hospital Name</th>
                        <th>Doctor Specialization</th>
                        <th>Doctor</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>2020-01-01</td>
                        <td>HS Ludhiana</td>
                        <td>Orthopedic</td>
                        <td>Priavardhan</td>
                        <td>
                            <i class="fa fa-eye"
                               aria-hidden="true"
                               style="color:dodgerblue"></i>
                            &nbsp;<i class="fa fa-trash-o"
                                     aria-hidden="true"
                                     style="color:red"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>2020-01-01</td>
                        <td>HS Ludhiana</td>
                        <td>Orthopedic</td>
                        <td>Priavardhan</td>
                        <td>
                            <i class="fa fa-eye"
                               aria-hidden="true"
                               style="color:dodgerblue"></i>
                            &nbsp;<i class="fa fa-trash-o"
                                     aria-hidden="true"
                                     style="color:red"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>2020-01-01</td>
                        <td>HS Ludhiana</td>
                        <td>Orthopedic</td>
                        <td>Priavardhan</td>
                        <td>
                            <i class="fa fa-eye"
                               aria-hidden="true"
                               style="color:dodgerblue"></i>
                            &nbsp;<i class="fa fa-trash-o"
                                     aria-hidden="true"
                                     style="color:red"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
