
@{
    ViewBag.Title = "Signup";
       Layout = "~/Views/Shared/index.cshtml";
}

<head>
    <link href="@Url.Content("~/Content/login/")css/style.css" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="@Url.Content("~/Content/login/")css/fontawesome-all.css" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    @*<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">*@
</head>

<div class=" w3l-login-form" style="margin-top:4%">
    @*<h2>Register</h2>*@
    <form action="#" method="POST">

        <div class=" w3l-form-group">
            <label>Username:</label>
            <div class="group">
                <i class="fas fa-user"></i>
                <input type="text" name="Name" class="form-control" placeholder="Username" required="required" />
            </div>
        </div>
        <div class=" w3l-form-group">
            <label>Email Id:</label>
            <div class="group">
                <i class="fas fa-user"></i>
                <input type="text" name="Email" class="form-control" placeholder="Email Id" required="required" />
            </div>
        </div>
        <div class=" w3l-form-group">
            <label>Password:</label>
            <div class="group">
                <i class="fas fa-unlock"></i>
                <input type="password" name="Password" class="form-control" placeholder="Password" required="required" />
            </div>
        </div>
        <div class=" w3l-form-group">
            <label>Confirm Password:</label>
            <div class="group">
                <i class="fas fa-unlock"></i>
                <input type="password" name="ConformPassword" class="form-control" placeholder=" Confirm Password" required="required" />
            </div>
        </div>
        <button type="submit" onclick="save()">Register</button>
    </form>
    <p class=" w3l-register-p">Already have an account?@Html.ActionLink("Login", "Login")</p>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    function save() {
 
        $.post("/api/Signup/SaveData", {

            Username: $("#UserName").val(),
            Email: $("#Email").val(),
            Password: $("#Password").val()




        });
    }
</script>




