
@{
    ViewBag.Title = "DoctorProfiles";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <div class="container-fluid">
        <h3 class="mt-4">
            Doctors
        </h3>
        <div class="row mt-2">
            <div class="col-lg-10">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card  d-flex justify-content-center" style="width:200px;">
                                    <img class="card-img-top" src="/Images/doctor.jfif" alt="Card image" style="width:50%">
                                    <div class="card-body">
                                        <h6 class="card-title">saiTeja</h6>
                                        <p style="font-size: 20px;" class="card-text">MBBS MRCS BIPC MPC MCA BTECH</p>
                                        <a href="#" class="btn btn-primary btn-sm">See Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card  d-flex justify-content-center" style="width:200px;">
                                    <img class="card-img-top" src="/Images/doctor.jfif" alt="Card image" style="width:50%">
                                    <div class="card-body">
                                        <h6 class="card-title">saiTeja</h6>
                                        <p style="font-size: 20px;" class="card-text">MBBS MRCS BIPC MPC MCA BTECH</p>
                                        <a href="#" class="btn btn-primary btn-sm">See Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card bg-dark  d-flex justify-content-center" style="width:200px;">
                                    <img class="card-img-top rounded-circle  " src="/Images/doctor.jfif" alt="Card image" style="width:50%">
                                    <div class="card-body">
                                        <h6 class="card-title">saiTeja</h6>
                                        <p style="font-size: 20px;" class="card-text">MBBS MRCS BIPC MPC MCA BTECH</p>
                                        <a href="#" class="btn btn-primary btn-sm">See Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card  d-flex justify-content-center" ; style="width:200px;">
                                    <img class="card-img-top" src="/Images/doctor.jfif" alt="Card image" style="width:50%">
                                    <div class="card-body">
                                        <h6 class="card-title">saiTeja</h6>
                                        <p style="font-size: 20px;" class="card-text">MBBS MRCS BIPC MPC MCA BTECH</p>
                                        <a href="#" class="btn btn-primary btn-sm">See Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

