@model List<Theme.Models.Hospital>
@{
    ViewBag.Title = "InsertToHospital";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 5);
    grid.Pager(WebGridPagerModes.All);

    if (Session["Email"] != null)
    {
        ViewBag.id = @Session["Id"].ToString();
        ViewBag.EntryBy = @Session["Name"].ToString();
    }

}



<style type="text/css">
    /*Here we will add css for style webgrid*/
    .webgrid-table {
        font-family: sans-serif;
        font-size: 1.5em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: rgb(11, 102, 124);
        background-color: white;
    }

        .webgrid-table td, th {
            border: rgb(11, 102, 124);
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: rgb(11, 102, 124);
        color: #FFFFFF;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
        color: black;
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: white;
        padding: 3px 7px 2px;
    }
</style>

<h3 class="mt-4">
    Add Hospitals
</h3>
<br>


<div class="container">
    @using (Html.BeginForm("InsertData", "User", FormMethod.Post))
    {
        <div class="row">

            <div class="col-sm-3">
                <div class="form-input">
                    <label>Hospital Name</label>
                    <input class="form-control" id="HospitalName" name="HospitalName" type="text">
                </div>
            </div>

            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="form-input">
                    <label>HospitalAddress</label>
                    <textarea class="form-control" id="HospitalAddress" name="HospitalAddress" type="text"></textarea>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="form-input">
                    <label>City</label>
                    <input class="form-control" id="HospitalCity" name="HospitalCity" type="text">
                </div>


            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-3">

                <div class="form-input">
                    <label>State</label>
                    <input class="form-control" id="HospitalState" name="HospitalState" type="text">
                </div>
            </div>

            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="form-input">
                    <label>Country</label>
                    <input class="form-control" id="HospitalCountry" name="HospitalCountry" type="text">
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="form-input">
                    <label>Phone</label>
                    <input class="form-control" id="HospitalPhone" name="HospitalPhone" type="tel">
                </div>
            </div>
        </div>



        <div class="row mt-3">
            <div class="col-sm-3">
                <div class="form-input">
                    <label>Email</label>
                    <input class="form-control" id="HospitalEmail" name="HospitalEmail" type="text">
                </div>


            </div>

            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="form-input">
                    <label>Logo</label>
                    <input class="form-control" id="HospitalLogo" name="HospitalLogo" type="text">

                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="form-group mt-4" style="margin:0px 0px 0px 20px">
                    <label class="display-block">Hospital Status</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="IsActive" id="product_active" value="1" checked>
                        <label class="form-check-label" for="product_active">
                            Active
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="IsActive" id="product_inactive" value="0">
                        <label class="form-check-label" for="product_inactive">
                            Inactive
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                <div class="form-input">
                    <label id="eb">Entry By</label>
                    <input class="form-control" id="EntryBy" name="EntryBy" type="tel">

                </div>

            </div>
        </div>
        <br>

        <div class="m-t-20 text-center" style="margin: 0px 0px 0px -10% ">
            <input type="submit" class="btn btn-primary" id="btnSubmit1" name="submit" value="save" />
        </div>
    }
</div>







<div class="container-fluid">
    <h4 class="mt-4">
        Hospital List
    </h4><br>



    <p>
        @using (Html.BeginForm("InsertToHospital", "Hospital", FormMethod.Get))
        {
            <input type="text" name="Hospitalsearch" />
            <input type="submit" value="Search" name="submit" />
        }
    </p>
    <div class="table border">
        <div class=" table-responsive">
            @grid.GetHtml(

                                 tableStyle: "webgrid-table",
                                 headerStyle: "webgrid-header",
                                 footerStyle: "webgrid-footer",
                                 alternatingRowStyle: "webgrid-alternating-row",
                                 rowStyle: "webgrid-row-style",
                                  mode: WebGridPagerModes.All,
        firstText: "<<First",
        previousText: "<Previous",
        nextText: "Next >",
        lastText: "Last >>",
                                 columns: new[]{
                                   grid.Column("HospitalName"),
                                    grid.Column("HospitalAddress"),
                                      grid.Column("HospitalCity"),
                                    grid.Column("HospitalState"),
                                       grid.Column("HospitalCity"),
                                          grid.Column("HospitalCountry"),
                                    grid.Column("HospitalPhone"),
                                    grid.Column("HospitalEmail"),
                                       grid.Column("HospitalLogo"),
                                     grid.Column("IsActive"),
                                       grid.Column("EntryDateTime"),
                                    grid.Column("EntryBy")



                                 })



        </div>
    </div>
</div>
