
@{
    ViewBag.Title = "PatientDashboard";
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}

<div class="container-fluid">

    <div class="col main mt-3">
        <h1 class="h2 d-none d-sm-block">
            Dashboard
        </h1>

    </div>
    <div class="row mb-3">
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card bg-success text-white h-100">
                <div class="card-body bg-success">
                    <div class="rotate">
                        <i class="fa fa-hospital-o fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Total Appointments Taken</h6>
                    <h1 class="display-4">10</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card text-white bg-danger h-100">
                <div class="card-body bg-danger">
                    <div class="rotate">
                        <i class="fa fa-stethoscope fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Appointments History</h6>
                    <h1 class="display-4">2</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card text-white bg-info h-100">
                <div class="card-body bg-info">
                    <div class="rotate">
                        <i class="fa fa-medkit fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Prescriptions</h6>
                    <h1 class="display-4">2</h1>
                </div>
            </div>
        </div>
        <!-- <div class="col-xl-3 col-sm-6 py-2">
          <div class="card text-white bg-warning h-100">
            <div class="card-body">
              <div class="rotate">
                <i class="fa fa-share fa-4x"></i>
              </div>
              <h6 class="text-uppercase">Shares</h6>
              <h1 class="display-4">36</h1>
            </div>
          </div>
        </div> -->
    </div>
    <!--/row-->

    <hr />
</div>
