
@{
    ViewBag.Title = "ReceptionDashboard";
    Layout = "~/Views/Shared/AppointmentLayout.cshtml";
}

<div class="container-fluid bg-primary " id="demo" style="margin-bottom:30px;text-align:center">
    <h1>RECEPTIONIST DASHBOARD</h1>
</div>
    <table class="table table-bordered  table-hover">
        <thead class="thead-primary">
            <tr style="text-align:center">
                <th colspan="3">WAITING</th>
                <th colspan="3">CHECKED</th>
                <th colspan="3">IN</th>
            </tr>
            <tr>
                <th>TOKEN NUMBER</th>
                <th>NAME</th>
                <th>DoctorName</th>
                <th>TOKEN NUMBER</th>
                <th>NAME</th>
                <th>DoctorName</th>
                <th>TOKEN NUMBER</th>
                <th>NAME</th>
                <th>DoctorName</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>1231</td>
                <td>vinay</td>
                <td>arjun ready</td>
                <td>1231</td>
                <td>vinay</td>
                <td>arjun ready</td>
                <td>1231</td>
                <td>vinay</td>
                <td>sai teja</td>

            </tr>
            <tr>

                <td>1231</td>
                <td>vinay</td>
                <td>saiteja</td>
                <td>1231</td>
                <td>vinay</td>
                <td>saiteja</td>
                <td>1231</td>
                <td>sai</td>
                <td>saiteja</td>
            </tr>

        </tbody>


    </table>

