
@{
    ViewBag.Title = "HospitalSpecilization";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container-fluid">
    <div class="col main mt-3">
        <h1 class="h2 d-none d-sm-block">
            Specialization
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label></label>
                <input type="text" class="form-control" placeholder="please type specialization" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
        <div class="col-lg-6">
            <table class="table border table-hover ">
                <thead>
                    <tr>
                        <th class=" bg-primary text-white">Added Specialization</thclass=">
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dermatologist</td>
                    </tr>
                    <tr>
                        <td>Orthopedician</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--/row-->
</div>

